# Bike Exploration Notebook companion
This notebook has been created in order to interactively explore the bike data, to help to understand it and present it in a more graphic way.

In [14]:
# Imports needed for the data analysis
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pprint

In [4]:
# Select one of the cities. As this is just a companion notebook, one of them is selected for no particular reason.
data_file = 'chicago.csv'

# Load the data in a DataFrame
df = pd.read_csv(data_file)
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [16]:
# Let's do some light, preliminary data exploration:

pprint.pprint(df.head())

Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

In [6]:
# and let's get some basic information about the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [13]:
# As much of the filtering will be done using the time, it looks like these columns require special attention, and by
# looking at the previous information, it is not clear that the format is correct and we may need to transform or
# treat it somehow

df['Start Time'][0:5]

0    2017-06-23 15:09:32
1    2017-05-25 18:19:03
2    2017-01-04 08:27:49
3    2017-03-06 13:49:38
4    2017-01-17 14:53:07
Name: Start Time, dtype: object

In [17]:
df['Trip Duration'].value_counts()

364      389
362      367
266      356
328      352
371      352
        ...
4962       1
6361       1
6755       1
6617       1
18039      1
Name: Trip Duration, Length: 7157, dtype: int64

In [18]:
df['Trip Duration'].unique()

array([  321,  1610,   416, ...,  7505,  6312, 14205], dtype=int64)

In [20]:
# Let's transform the time columns to get them in datetime format
df['Start Time'] = pd.to_datetime(df['Start Time'], infer_datetime_format=True)
df['End Time'] = pd.to_datetime(df['End Time'], infer_datetime_format=True)

In [22]:
# Let's examine one of them
df['Start Time']

0        2017-06-23 15:09:32
1        2017-05-25 18:19:03
2        2017-01-04 08:27:49
3        2017-03-06 13:49:38
4        2017-01-17 14:53:07
                 ...
299995   2017-01-21 13:18:00
299996   2017-04-28 19:32:19
299997   2017-02-12 09:59:01
299998   2017-04-16 17:07:15
299999   2017-05-30 12:38:28
Name: Start Time, Length: 300000, dtype: datetime64[ns]

In [30]:
# Let's check if we can use this to filter a little bit by March, for example
# As now it is datetime format, we can take advantage of that

# Using the datetime format:
pprint.pprint(df['Start Time'][20])
print(df['Start Time'][20].dayofweek, df['Start Time'][20].year, df['Start Time'][20].month)

df['Start_month_datetime'] = pd.DatetimeIndex(df['Start Time']).month
print(df['Start Time'][0:5])
print(df['Start_month_datetime'][0:5])

Timestamp('2017-05-16 06:36:17')
1 2017 5
0   2017-06-23 15:09:32
1   2017-05-25 18:19:03
2   2017-01-04 08:27:49
3   2017-03-06 13:49:38
4   2017-01-17 14:53:07
Name: Start Time, dtype: datetime64[ns]
0    6
1    5
2    1
3    3
4    1
Name: Start_month_datetime, dtype: int64

In [40]:
# And now we can calculate some things:
print(df['Start_month_datetime'].describe(include='all'))

count    300000.000000
mean          4.345790
std           1.609719
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           6.000000
Name: Start_month_datetime, dtype: float64

In [43]:
# The same can be accomplished by using the attribute dt, as explained in the project Exercise #1
df['Start_year'] = df['Start Time'].dt.year
df['Start_month'] = df['Start Time'].dt.month
df['Start_hour'] = df['Start Time'].dt.hour

In [44]:
pprint.pprint(df.head())

Unnamed: 0          Start Time            End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32 2017-06-23 15:14:53            321
1      955915 2017-05-25 18:19:03 2017-05-25 18:45:53           1610
2        9031 2017-01-04 08:27:49 2017-01-04 08:34:45            416
3      304487 2017-03-06 13:49:38 2017-03-06 13:55:28            350
4       45207 2017-01-17 14:53:07 2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year  Start_month_datetime  Start_year  Start_month  \
0    Male      1992.0                     6        2017            6
1  Female      1992.0                     5        2017            5
2    Male      1981.0                     1        2017            1
3    Male      1986.0                     3        2017            3
4    Male      1975.0                     1        2017            1

   Start_hour
0          15
1          18
2           8
3          13
4          14

In [48]:
# Let's do some cleaning now
df.drop(['Start_month_datetime'], axis=1, inplace=True)

In [49]:
# And check that everything is in order
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,Start_year,Start_month,Start_hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,2017,6,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,2017,5,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,2017,1,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,2017,3,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,2017,1,14

In [50]:
# As for the second question about the use types, let's get the use types
df['User Type'].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [51]:
# Now we need to aggregate the information and count according to this
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [53]:
# Getting the index in a list
months = ['january', 'february', 'march', 'april', 'may', 'june']
month = months.index('january')
month

1

In [62]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()
    print(df.head())

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
    
        # filter by month to create the new dataframe
        df = df[df['month'] == month]
        print(df.head())

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]
        print(df.head())
    return df
    
df = load_data('chicago', 'march', 'friday')

Unnamed: 0          Start Time             End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915 2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year  month day_of_week
0    Male      1992.0      6      Friday
1  Female      1992.0      5    Thursday
2    Male      1981.0      1   Wednesday
3    Male      1986.0      3      Monday
4    Male      1975.0      1     Tuesday
    Unnamed: 0          Start Time             End Time  Trip Duration  \
3       304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
26      385517 2017-03-23 09:38:27  2017-03-23 09:42:41            254
34      389463 2017-03-23 20:50:57  2017-03-23 20:57:19            382
37      395803 2017-03-24 15:35:55  2017-03-24 15:46:10            615
47      371076 2017-03-20 21:27:24  2017-03-20 21:39:02            698

                    Start Station                   End Station   User Type  \
3   Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
26       Loomis St & Jackson Blvd      Peoria St & Jackson Blvd  Subscriber
34            Ellis Ave & 55th St         Kimbark Ave & 53rd St  Subscriber
37          Dearborn St & Erie St       State St & Van Buren St  Subscriber
47            Morgan St & Lake St          Larrabee St & Oak St  Subscriber

    Gender  Birth Year  month day_of_week
3     Male      1986.0      3      Monday
26  Female      1985.0      3    Thursday
34  Female      1993.0      3    Thursday
37    Male      1989.0      3      Friday
47    Male      1972.0      3      Monday
     Unnamed: 0          Start Time             End Time  Trip Duration  \
37       395803 2017-03-24 15:35:55  2017-03-24 15:46:10            615
93       395735 2017-03-24 15:32:04  2017-03-24 15:52:53           1249
175      395402 2017-03-24 15:10:29  2017-03-24 15:19:44            555
190      393400 2017-03-24 12:29:30  2017-03-24 12:48:56           1166
198      427496 2017-03-31 08:25:53  2017-03-31 08:39:09            796

                      Start Station                      End Station  \
37            Dearborn St & Erie St          State St & Van Buren St
93        Sedgwick St & Webster Ave      Western Ave & Winnebago Ave
175         Franklin St & Monroe St          Aberdeen St & Monroe St
190  Southport Ave & Wellington Ave       Lake Shore Dr & North Blvd
198       Clinton St & Jackson Blvd  Racine Ave (May St) & Fulton St

      User Type  Gender  Birth Year  month day_of_week
37   Subscriber    Male      1989.0      3      Friday
93   Subscriber  Female      1964.0      3      Friday
175  Subscriber    Male      1987.0      3      Friday
190  Subscriber  Female      1984.0      3      Friday
198  Subscriber    Male      1983.0      3      Friday

In [66]:
df['day_of_week'].mode()[0]

'Friday'